# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project-specific
data/*
!data/.gitkeep
!data/tableau_exports/
!data/tableau_exports/*

# Tableau temp/lock files
.~*.twbr
*.twbx.lock
