# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project-specific
phase_1_analyst/data/*
!phase_1_analyst/data/.gitkeep
